{% extends "base_generic.html" %}

{% block content %}

<div class="container p-3">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У Вас нет прав для просмотра этой страницы. Чтобы продолжить, пожалуйста войдите в аккаунт с необходимыми правами.</p>
  {% else %}
    <p>Пожалуйста войдите, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}
</div>

<section class="container m-3 ml-auto mr-auto">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>

    <div>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <section>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
  </section>
</section>

{% endblock %}
