{% extends "base_generic.html" %}

{% load static %}
{% block additional_after_all_js %}
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block content %}
<section class="container m-3 ml-auto mr-auto">
  <h5>Введите email:</h5>
  <form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-md" value="Сбросить пароль" />
  </form>
</section>
{% endblock %}
