{% extends "base_generic.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>{{ object.title }}</h1>
  <div>{{ object.description|linebreaks }}</div>
  {% if user.is_authenticated %}
  {% if not object.author == user %}
  <div class="mt-3">
    <a href="{% url 'method_copy' object.id %}?next={{request.path}}" class="btn btn-secondary">Добавить к себе</a>
  </div>
  {% endif %}
  {% endif %}

  <div class="ml-2 mt-2">
    <h5>Комментарии</h5>
    <hr>

    {% for comment in object_list %}
    <p>{{ comment.author }} ({{ comment.created }}) - {{ comment.text }}</p>
    <hr>
    {% endfor %}

    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'comment_create' object.id %}">Комментировать</a>
    {% else %}
    <a href="{% url 'login' %}">Войдите</a>, чтобы комментировать
    {% endif %}
  </div>
</div>
{% endblock %}
